@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: geist;
  src: url(./fonts/GeistVF.woff);
}
@font-face {
  font-family: geistMono;
  src: url(./fonts/GeistMonoVF.woff);
}